#save-button {
  float: left;
  display: inline;
  width: 27px;
  height: 27px;
  background: url('https://goo.gl/CyvLz1') no-repeat center;

  box-sizing: border-box;
  border-radius: 2px;
}

#save-button:hover {
  border: #cccccc solid 1px;
}

.row::after{
  content: '.';
  color: rgba(255, 255, 255, 0);
  display: block;
  clear: both;
  height: 0;
}