[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body, .container-fluid {
  height:100%;
}

.views-content {
  padding-top: 65px;
  padding-bottom: 30px;
}

.views-content::after{
  display: block;
  content: '.';
  color: rgba(255, 255, 255, 0);
}

.footer {
  padding: 0;
}

.footer .btn {
  height: 20px;
  padding: 0px 10px;
}

.footer .btn-group {
  margin: 0px;
}

.footer > * {
  margin: 0;
}

.navbar-right {
  padding-right: 15px;
}

footer ul li {
  display: inline;
  margin-right: 3px;
}

#loading-bar .bar {
  background: white;
  height: 4px;
}

#loading-bar-spinner .spinner-icon {
  width: 10px;
  height: 10px;
  border: solid 2px transparent;
  border-top-color: white;
  border-left-color: white;
  border-radius: 5px;
}

.fa{
  font-size: 20px;
}

