[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.views-content {
  padding-top: 65px;
  padding-bottom: 10px;
}

.views-content::after {
  display: block;
  content: '.';
  color: rgba(255, 255, 255, 0);
}

.footer {
  padding: 0;
}

.footer .btn {
  height: 20px;
  padding: 0px 10px;
}

.footer .btn-group {
  margin: 0px;
}

.footer > * {
  margin: 0;
}

.navbar-right {
  padding-right: 15px;
}

footer ul li {
  display: inline;
  margin-right: 3px;
}

#loading-bar .bar {
  background: deepskyblue;
  height: 4px;
}

#loading-bar-spinner .spinner-icon {
  width: 10px;
  height: 10px;
  border: solid 2px transparent;
  border-top-color: deepskyblue;
  border-left-color: deepskyblue;
  border-radius: 5px;
}

.fa {
  font-size: 20px;
}

.popover {
  max-width: 600px !important;
}

input[type='checkbox'] {
  width: 32px;
  height: 32px;
  margin: 0;
}

#lessons-dropdown {
  font-size: 18px;
}

#lessons-dropdown li {
  padding: 5px;
}

#lessons-dropdown li:hover {
  opacity: 0.7;
}

#lessons-dropdown a {
  color: white;
}

#lessons-dropdown i {
  color: white;
}

#lessons-dropdown span {
  white-space: nowrap;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
