#criteria-panel .panel-body {
  padding: 3px;
}

#tool-panel .panel-body {
  padding: 3px;
}

#tool-panel-container{
  height: 50px;
}

@media screen and (min-width: 768px) {
  #tool-panel.ui-scrollpoint {
    position:fixed;
    top:60px;
    z-index: 1000000;
  }
}

/*
.mce-tinymce img{
  width: 200px;
  height: 200px;
}
*/
