<div class="row">
  <div class="col-sm-2 sidebar">
    <div class="list-group">
      <a ui-sref="admin.users" class="list-group-item"><i class="fa fa-users"></i>Users</a>
      <a ui-sref="admin.utils" class="list-group-item"><i class="fa fa-cog"></i>Utils</a>
      <a href="" class="list-group-item"><i class="fa fa-language"></i>Translations</a>
      <a href="" class="list-group-item"><i class="fa fa-pie-chart"></i>Statistics</a>
    </div>
  </div>
  <div class="col-sm-10">
    <ui-view></ui-view>
  </div>
</div>



