<footer class="footer panel-footer navbar-fixed-bottom">
  <ul>
    <li>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-click="changeLanguage('en')">
          <input type="radio" name="options"> English
        </label>
        <label class="btn btn-primary" ng-click="changeLanguage('uk')">
          <input type="radio" name="options"> Українська
        </label>
      </div>
    </li>

    <li class="pull-right hidden-xs">
      <a href="https://translate.google.com/">Google translate</a>
    </li>
    <li class="pull-right hidden-xs">
      <a href="">Chrome plugin |</a>
    </li>
  </ul>
</footer>
