<div class="jumbotron">
  <h1>Hello, welcome to LibreLingvo!</h1>

  <p class="text-justify">
    LibreLingvo is electronic vocabulary, which provide way to save translations from Google Translate using chrome
    extension.
  </p>
  <span>Follow this steps:</span>
  <ol>
    <li>
      Install <a href="artifacts/libre-lingvo.crx" download>chrome extension</a>
      (Go Chrome menu -> More tools -> Extensions, drag and drop .crx file to extensions)
    </li>
    <li>
      <a target="_blank" ui-sref="log-in">Log in</a>
    </li>
    <li>
      Go to the <a href="https://translate.google.com/">Google Translate</a>, type a word and click on the first button
      <img src="https://goo.gl/CyvLz1" alt=""> under translation.
    </li>
  </ol>
  <p>
    <a ui-sref="log-in" class="btn btn-primary btn-lg">Get started</a>
  </p>

</div>
