<div class="jumbotron">
    <h1>Hello, welcome to LibreLingvo!</h1>
    <p class="text-justify">LibreLingvo is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos incidunt ipsa, maxime
      sunt vel veritatis? A adipisci, atque consequuntur corporis cum cumque deleniti eligendi excepturi hic in itaque
      magnam neque, officiis optio quaerat quis tenetur, unde? Aspernatur delectus distinctio doloremque iure natus
      quasi reiciendis repellendus sed vel. At atque beatae commodi dicta dolorum error expedita ipsum, laudantium
      libero necessitatibus neque quaerat quam tempora vel voluptates. Aut commodi corporis ipsa nostrum repudiandae!
      Aliquid asperiores cumque explicabo fugit itaque, modi, neque non provident quas, quos soluta vel voluptates. At
      commodi corporis culpa dolorem, eius magni neque quaerat quasi quos reprehenderit? Animi aspernatur consequuntur
      deserunt, enim excepturi, id illo nam nihil nulla officiis quisquam quo rerum voluptate! Ab commodi doloremque
      facilis id odio perferendis quos voluptatibus! Ab accusantium asperiores cumque cupiditate dolore dolorem dolores
      earum eius enim esse exercitationem iste magnam magni non officiis quaerat, quia quidem quisquam quos, sint ut
      voluptatem voluptatum. Accusamus adipisci autem delectus labore obcaecati officia quia reiciendis repudiandae sed
      velit? Alias dolor doloribus, eius est fuga nihil nostrum repellendus veniam voluptate. Ab asperiores distinctio
      ducimus eaque enim hic id in, incidunt magnam magni nam nemo placeat provident quas quasi quo, repudiandae sequi
      sunt unde veniam. Accusantium amet blanditiis consequatur dolor eius eligendi fugit nisi, nostrum odit perferendis
      possimus provident, quas, quasi quidem velit veniam vitae? Aspernatur autem beatae consectetur doloremque error
      ipsam labore maxime minima molestias pariatur quia quibusdam, quo tempora velit veritatis vero vitae voluptates?
      Consectetur, cupiditate dignissimos dolor dolores excepturi harum labore placeat possimus quod reiciendis sit
      voluptas! A corporis illo iste minus necessitatibus quaerat, sequi tempore. Aperiam blanditiis cumque ea magnam,
      nesciunt nisi odio officiis quae sequi veniam! Aliquid debitis enim facere laboriosam reprehenderit. Ad at aut
      blanditiis consectetur, consequatur cumque cupiditate deleniti deserunt, dicta dignissimos distinctio dolore
      doloremque earum error est expedita facilis fuga illo laudantium libero magnam maiores minima minus modi molestiae
      nihil nulla odit optio, placeat quas quidem quisquam repellendus sed ullam vitae voluptas voluptate? Ab doloremque
      ea inventore provident quisquam sapiente sint temporibus veniam. Accusamus culpa delectus, eos harum iste maiores
      ratione repellendus! Aperiam cupiditate deleniti doloribus maiores nihil pariatur porro possimus qui quis sit!
      Adipisci aperiam asperiores assumenda commodi eum libero nemo quaerat unde. Beatae debitis excepturi optio quia
      tenetur ullam! A assumenda molestiae necessitatibus nulla quas tempora vero? Deserunt, dolores ex hic quidem sit
      tempore. Autem consequuntur deleniti deserunt, eaque eos impedit nesciunt saepe voluptate voluptatem voluptates!
      Ipsum.</p>
    <p>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
</div>
