<form ng-hide="resetKey" class="form-horizontal" ng-submit="setResetKey()">
  <div class="form-group">
    <label for="Email" class="col-sm-1 control-label">Email</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="Email" placeholder="Email" ng-model="email">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{{'label.recover.password' | translate}}</button>
</form>

<form ng-show="resetKey" class="form-horizontal" ng-submit="resetPassword()">
  <div class="form-group">
    <label for="Password" class="col-sm-1 control-label">{{'label.password' | translate}}:</label>
    <div class="col-sm-7">
      <input ng-model="password" required name="password" type="password" class="form-control" id="Password"
             placeholder="{{'label.password' | translate}}">
    </div>
  </div>
  <div class="form-group">
    <label for="ConfirmPassword" class="col-sm-1 control-label">{{'label.confirm.password' | translate}}:</label>
    <div class="col-sm-7">
      <input ng-model="confirmPassword"
             wj-validation-error="confirmPassword != password ? 'Passwords don\'t match' : ''"
             required
             type="password"
             class="form-control" id="ConfirmPassword"
             placeholder="{{'label.confirm.password' | translate}}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{{'label.change.password' | translate}}</button>
</form>
