<div class="row">
  <div class="col-sm-4 text-muted">
    {{'label.source.word' | translate}}:
  </div>
  <div class="col-sm-8 text-info">
    <span>{{translation.sourceWord.text}}</span>
    <a ui-sref="translation.edit({translationId:translation.id})" class="pull-right">
      <i class="fa fa-pencil-square-o"></i>
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4 text-muted">
    {{'label.translation.word' | translate}}:
  </div>
  <div class="col-sm-8 text-info">
    <span>{{translation.resultWord.text}}</span>
    <a ui-sref="translation.edit({translationId:translation.id})" class="pull-right">
      <i class="fa fa-pencil-square-o"></i>
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4 text-muted">
    {{'label.source.language' | translate}}:
  </div>
  <div class="col-sm-8 text-info">
    <span>{{'label.language.'+translation.sourceWord.langCode | translate}}</span>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4 text-muted">
    {{'label.translation.language' | translate}}:
  </div>
  <div class="col-sm-8 text-info">
    <span>{{'label.language.'+translation.resultWord.langCode | translate}}</span>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4 text-muted">
    {{'label.part.of.speech' | translate}}:
  </div>
  <div class="col-sm-8 text-info">
    <span>{{'label.part.of.speech.'+translation.partOfSpeech.toLowerCase() | translate}}</span>
    <a ui-sref="translation.edit({translationId:translation.id})" class="pull-right">
      <i class="fa fa-pencil-square-o"></i>
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4 text-muted">
    {{'label.views.quantity' | translate}}:
  </div>
  <div class="col-sm-8 text-info">
    {{translation.views}}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4 text-muted">
    {{'label.last.modification.date' | translate}}:
  </div>
  <div class="col-sm-8 text-info">
    {{translation.lastModificationDate | amUtc | amLocal | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4 text-muted">
    {{'label.translations.is.learned' | translate}}:
  </div>
  <div class="col-sm-8 text-info">
    {{translation.learned?'label.yes':'label.no' | translate}}
    <a ui-sref="translation.edit({translationId:translation.id})" class="pull-right">
      <i class="fa fa-pencil-square-o"></i>
    </a>
  </div>
</div>
