<div id="user-translations">
  <div class="row">
    <div class="col-sm-3">
      <div id="criteria-panel" class="panel">
        <div class="panel-body">
          <div class="form-group">
            <input ng-model="searchSubstring" ng-change="updateTranslations()" ng-model='searchSubstring'
                   ng-model-options="{ debounce: 700 }"
                   type="text" class="form-control" placeholder="{{'label.search.in.words' | translate}}">
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="langCodesPair" ng-change="updateTranslations()">
              <option value="null" selected disabled> {{'label.translation.languages' | translate}}</option>
              <option value="null"> {{'label.all' | translate}}</option>
              <option ng-repeat="pair in langCodesPairs" value="{{pair}}">
                {{'label.language.'+pair.source | translate}}->{{'label.language.'+pair.result | translate}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="partOfSpeech" ng-change="updateTranslations()">
              <option value="ALL" selected disabled>{{'label.part.of.speech' | translate}}</option>
              <option value="ALL"> {{'label.all' | translate}}</option>
              <option ng-repeat="item in partsOfSpeech" value="{{item}}">
                {{'label.part.of.speech.'+item.toLowerCase() | translate}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="sortField" ng-change="updateTranslations()">
              <option value="" disabled selected>{{'label.sort' | translate}}</option>
              <option value="SORT_SOURCE_TEXT"> {{'label.sorting.field.source.text' | translate}}</option>
              <option value="SORT_RESULT_TEXT"> {{'label.sorting.field.result.text' | translate}}</option>
              <option value="SORT_VIEWS"> {{'label.sorting.field.views' | translate}}</option>
              <option value=""> {{'label.sorting.none' | translate}}</option>
            </select>
          </div>
          <div class="form-group" ng-show="sortField">
            <select class="form-control" ng-model="sortOrder" ng-change="updateTranslations()">
              <option value="" disabled selected>{{'label.sort.order' | translate}}</option>
              <option value="ASC"> {{'label.sorting.ascending' | translate}}</option>
              <option value="DESC"> {{'label.sorting.descending' | translate}}</option>
            </select>
          </div>
          <div class="text-muted">{{'label.criteria.panel.filtered' | translate:recordsCount}}</div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <div ui-scrollpoint="+20" id="tool-panel" class="panel" ng-hide="hideAffix">
            <div class="panel-body">
              <button class="btn btn-info">
                 <i class="fa fa-graduation-cap"></i>{{'label.learn.first.n.translation' | translate:interpol}}
              </button>
              <button ng-show="selectedTranslationIds.length" ng-click="deleteTranslations()" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="t" class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>{{'label.source.word' | translate}}</th>
                <th>{{'label.translation.word' | translate}}</th>
                <th></th>
                <th></th>
                <th></th>
                <th><input type="checkbox" class="form-control" ng-model="checked" ng-click="toggleAllCheckboxes(checked  )"></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="translation in translations">
                <td uib-tooltip="{{'label.language.'+ translation.sourceWord.langCode | translate}}"
                    tooltip-append-to-body="true">
                  <span ng-click="play(translation.sourceWord.langCode,translation.sourceWord.text)">
                    <i class="fa fa-volume-up"></i>
                  </span>
                  <span>{{translation.sourceWord.text}}</span>
                </td>
                <td uib-tooltip="{{'label.language.'+ translation.resultWord.langCode | translate}}"
                    tooltip-append-to-body="true">
                  <span ng-click="play(translation.resultWord.langCode,translation.resultWord.text)">
                    <i class="fa fa-volume-up"></i>
                  </span>
                  <span>{{translation.resultWord.text}}</span>
                </td>
                <td>
                  <a ng-show="translation.note" uib-popover="{{translation.note}}"
                     popover-trigger="'click'" popover-placement="bottom" popover-append-to-body="true"
                     uib-tooltip="{{'label.note' | translate}}"
                     tooltip-append-to-body="true">
                    <i class="fa fa-sticky-note"></i>
                  </a>
                </td>
                <td>
                  <a ui-sref="translation.detail({translationId:{{translation.id}}})"
                     uib-tooltip="{{'label.view.detail' | translate}}"
                     tooltip-append-to-body="true"><i class="fa fa-info-circle"></i>
                  </a>
                </td>
                <td>
                  <a ui-sref="translation.edit({translationId:{{translation.id}}})"
                     uib-tooltip="{{'label.edit' | translate}}"
                     tooltip-append-to-body="true">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                </td>
                <td>
                  <!--<a ng-click="deleteTranslation(translation)"><i class="fa fa-times"></i></a>-->
                  <input class="form-control" type="checkbox"
                         ng-checked="selectedTranslationIds.indexOf(translation.id) > -1" ng-click="toggleSelection(translation.id)">
                </td>
              </tr>
              </tbody>
            </table>
            <div class="text-center">
              <ul uib-pagination total-items="filteredRecords" ng-model="pageIndex" max-size="maxPagSize"
                  class="pagination-md" boundary-links="true" direction-links="false" first-text="&laquo;"
                  last-text="&raquo;" items-per-page="maxRecords" ng-change="updateTranslations()">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
