<div id="user-translations">
  <div class="row">
    <div id="criteria-panel" class="panel panel-default no-float">
      <div class="panel-body">
        Panel body ... {{pageIndex+'/'+pagesNumber+'|'+totalRecords}}
      </div>
    </div>
    <div id="table-container" class="no-float">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>{{'label.source.language' | translate}}</th>
            <th>{{'label.translation.language' | translate}}</th>
            <th>{{'label.source.word' | translate}}</th>
            <th>{{'label.translation.word' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <!--tr*2>((td>{en})+(td>{uk})+(td>{pineapple})+(td>{ананас}))-->
          <tr ng-repeat="translation in translations">
            <td>{{'label.language.'+ translation.sourceWord.langKey | translate}}</td>
            <td>{{'label.language.'+ translation.resultWord.langKey | translate}}</td>
            <td>{{translation.sourceWord.text}}</td>
            <td>{{translation.resultWord.text}}</td>
          </tr>
          </tbody>
        </table>
        <div class="text-center">
          <ul uib-pagination total-items="totalRecords" ng-model="pageIndex" max-size="maxPagSize"
              class="pagination-md"  boundary-links="true" direction-links="false" first-text="&laquo;" last-text="&raquo;" num-pages="pagesNumber" ng-change="loadTranslations()"></ul>
        </div>
      </div>
    </div>
  </div>
</div>


