<div class="modal-content panel panel-danger">
  <div class="modal-header panel-heading">
    <button type="button" class="close" data-dismiss="modal" ng-click="onOk()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{'label.message.error.title' | translate}}:</h4>
  </div>
  <div class="modal-body panel-body">
    <p ng-repeat="fieldError in fieldErrors">{{fieldError.message}}</p>
  </div>
  <div class="modal-footer panel-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="onOk()">Ok</button>
  </div>
</div>
